{% extends 'base.html.twig' %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <div id="dropdown">
        <div id="accountBar">
            {{ 'label_account'|trans }}
        </div>
        <div id="dropdownContent">
            <a href="#">My account</a>
            <a href="#">Logout</a>
        </div>
    </div>

    <div class="sidenav" style="padding-top: 25px;">
        <a href="{{ url('personal_info_contacts') }}">
            {{ 'label_contacts'|trans }}
        </a>
        <a href="#">
            {{ 'label_calendar'|trans }}
        </a>
        <a href="#">
            {{ 'label_recent_upcoming_events'|trans }}
        </a>
        <a href="#">
            {{ 'label_categories'|trans }}
        </a>
    </div>

    <div class="display">
        <p>
            {{ 'message_recent_events'|trans }}
        </p>
        <p>
            {{ 'message_upcoming_events'|trans }}
        </p>
    </div>
{% endblock %}
