{% extends 'base.html.twig' %}
{# TODO Also work as event subpage. Probably it shouldn't... change this. #}
{% block title %}
    {{ 'title_event_list'|trans }}
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}

    <div class="display">
        <p>
            {{ 'message_recent_events'|trans }}
        </p>
        {# TODO Fix display. #}
        {% if events is defined and events|length %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'label_id'|trans }}</th>
                    <th>{{ 'label_name'|trans }}</th>
                    <th>{{ 'label_date'|trans }}</th>
                    <th>{{ 'label_description'|trans }}</th>
                    <th>{{ 'label_category'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.category.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
        {% endif %}

        <p>
            {{ 'message_upcoming_events'|trans }}
        </p>
    </div>
{% endblock %}
