{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_view_record'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_view_record'|trans }}</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ item.title }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{ item.content }}</dd>
            <dt>{{ 'label_tags'|trans }}</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message_record_not_found'|trans }}
        </p>
    {% endif %}
    <p>
        <a href="{{ url('record_index') }}" title="Go back">
            Go back
        </a>
    </p>
{% endblock %}
