{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_contact_details'|trans({'%firstName%': contact.firstName|default(''), '%surname%': contact.surname|default('') }) }}
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="display">
        <h1>{{ 'title_contact_details'|trans({'%firstName%': contact.firstName|default(''), '%surname%': contact.surname|default('') }) }}</h1>
        {% if contact is defined and contact|length %}
            <dl class="dl-horizontal">
                <dt>{{ 'label_phone_number'|trans }}</dt>
                <dd>{{  contact.phoneNumber }}</dd>
                <dt>{{ 'label_email'|trans }}</dt>
                <dd>{{  contact.email }}</dd>
                <dt>{{ 'label_tags'|trans }}</dt>
                <dd>
                    {% if contact.tags is defined and contact.tags|length %}
                        {% for tag in contact.tags %}
                            {{ tag.name }}
                        {% endfor %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </dd>
            </dl>
            <p>
                <a href="{{ url('contact_index') }}" title="{{ 'action_back_to_list'|trans }}">
                    {{ 'action_back_to_list'|trans }}
                </a>
            </p>
        {% else %}
            <p>
                {{ 'message_item_not_found'|trans }}
                {#<i class="bi bi-arrow-left icon-3x"></i>#}
            </p>
        {% endif %}
    </div>
{% endblock %}
