{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_log_in'|trans }}
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'message_logged_in_as'|trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'label_logout'|trans }}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'message_please_sign_in'|trans }}</h1>
    <label for="inputUsername">{{ 'label_username'|trans }}</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">{{ 'label_password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'label_sign_in'|trans }}
    </button>
</form>

    <button class="btn btn-outline-primary">
        <a href=" {{ url('app_register') }} " style="text-decoration: none;">
            {{ 'label_register'|trans }}
        </a>
    </button>
{% endblock %}
