{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user_list'|trans }}
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="display">
        <h1>{{ 'title_user_list'|trans }}</h1>
        {% if pagination is defined and pagination.items|length %}

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_user_name'|trans, 'user.username') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_email'|trans, 'user.email') }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination.items %}
                    <tr id="center">
                        <td style="width: 35px; padding-top: 15px"><i class="bi bi-person-circle" style="font-size: 30px;"></i></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                                <a href="{{ url('user_show', {id: user.id}) }}" title="{{ 'action_view'|trans }}">
                                    {{ 'action_view'|trans }}
                                </a>
                                <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action_edit'|trans }}">
                                    {{ 'action_edit'|trans }}
                                </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                {% include 'default/_single_flash_message.html.twig' with {
                    type: 'warning',
                    message: 'message_empty_list'|trans
                } %}
            </p>
        {% endif %}
    </div>
{% endblock %}