{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user_details'|trans({'%username%': user.username|default('')}) }}
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="display">
        <h1>{{ 'title_user_details'|trans({'%username%': user.username|default('')}) }}</h1>
        {% if user is defined and user|length %}
            <dl class="dl-horizontal">
                <dt>{{ 'label_username '|trans }}</dt>
                <dd>{{  user.username }}</dd>
                <dt>{{ 'label_user_email'|trans }}</dt>
                <dd>{{  user.email }}</dd>
            </dl>
            <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action_edit'|trans }}">
                {{ 'action_edit'|trans }}
            </a>
        {% else %}
            <p>
                {{ 'message_item_not_found'|trans }}
            </p>
        {% endif %}
    </div>
{% endblock %}
