{% extends 'base.html.twig' %}
{# TODO Also work as event subpage. Probably it shouldn't... change this. #}
{% block title %}
    {{ 'title_event_list'|trans }}
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}

    <div class="display">
        <p>
            {{ 'message_recent_events'|trans }}
        </p>
        {# TODO Current and upcoming events + separate menus #}
        {% if pagination is defined and pagination.items|length %}

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'event.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'event.date') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_description'|trans, 'event.description') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_event_category'|trans, 'event.category.name') }}</th>
                    <th>{{ 'label_tags'|trans }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_author'|trans, 'event.author') }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for event in pagination.items %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.date|date('d/m/Y') }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.category.name }}</td>
                        <td>
                            {% if event.tags is defined and event.tags|length %}
                                {% for tag in event.tags %}
                                    {{ tag.name }}
                                {% endfor %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>{{ event.author.username }}</td>
                        <td>
                            <a href="{{ url('event_show', {id: event.id}) }}" title="{{ 'action_view'|trans }}">
                                {{ 'action_view'|trans }}
                            </a>
                            <a href="{{ url('event_edit', {id: event.id}) }}" title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
{#                            {% if not event.category|length %}#}
                                <a href="{{ url('event_delete', {id: event.id}) }}" title="{{ 'action_delete'|trans }}">
                                    {{ 'action_delete'|trans }}
                                </a>
{#                            {% endif %}#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
        {% endif %}

        <p>
            {{ 'message_upcoming_events'|trans }}
        </p>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'event.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'event.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_description'|trans, 'event.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_event_category'|trans, 'event.category.name') }}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_author'|trans, 'event.author') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination.items %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.date|date('Y/m/d') }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.category.name }}</td>
                    <td>
                        {% if event.tags is defined and event.tags|length %}
                            {% for tag in event.tags %}
                                {{ tag.name }}
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>{{ event.author.username }}</td>
                    <td>
                        {% if is_granted('VIEW', event) %}
                        <a href="{{ url('event_show', {id: event.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                        {% endif %}
                        {% if is_granted('EDIT', event) %}
                        <a href="{{ url('event_edit', {id: event.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        {% endif %}
                        {% if is_granted('DELETE', event) %}
                        <a href="{{ url('event_delete', {id: event.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
        </p>
    {% endif %}
    </div>
{% endblock %}
{# TODO Same as personal_info/index.html.tig - change it correctly #}
